<form action="/recipes/edit?id={{recipe._id}}" method="POST">
  <input type="text" name="title" value="{{recipe.title}}" placeholder="Title of your recipe">
  <label for="level">Level of difficulty</label>
  <select name="level" id="">
    <option value="Easy Peasy">Easy Peasy</option>
    <option value="Amateur Chef">Amateur Chef</option>
    <option value="UltraPro Chef">UltraPro Chef</option>
  </select>
  {{!-- <input type="text" name ="level" placeholder="Level of difficulty"> --}}
  <input type="text" name="ingredients" value="{{recipe.ingredients}}" placeholder="Ingeredients">
  <input type="text" name="cuisine" value="{{recipe.cuisine}}" placeholder="Cuisine">
  <label for="dishType">Chose a dish type</label>
  <select name="dishType" id="">
    <option value="Breakfast">Breakfast</option>
    <option value="Dish">Dish</option>
    <option value="Snack">Snack</option>
    <option value="Drink">Drink</option>
    <option value="Dessert">Dessert</option>
    <option value="Other">Other</option>
  </select>
  <input type="url" name="image" value="{{recipe.image}}" placeholder="image_url">
  <input type="number" name="duration" value="{{recipe.duration}}" placeholder="Prep time in min">
  <input type="text" name="creator" value="{{recipe.creator}}" placeholder="Name of creator">
  <input type="date" name="created" value="{{recipe.created}}" placeholder="Date of creation">
  {{!-- <button action="/recipes/update?id={{recipe._id}}" type="submit">update</button> --}}
  <button type="submit">update</button>
</form>