<div class="recipe-detail-container">
  <div>
    <a href="/recipes">
      <p class="backLink">Go back</p>
    </a>
    <a href="/recipes/edit/{{recipe._id}}">
      <p>Edit</p>
    </a>
    <a href="/delete/{{recipe._id}}">
      <p>Delete A Recipe</p>
    </a>
    <h2>{{recipe.title}}</h2>
    <p>{{recipe.level}}</p>
    <ul>
    <h3>Ingredients: {{#each recipe.ingredients}}</h3>
    <li>{{this}}</li>
      {{/each}}
    </ul>
    <h4>Cuisine: {{recipe.cuisine}}</h4>
    <h4>Dish Type: {{recipe.dishType}}</h4>
    <img src="{{recipe.image}}" alt="">
    <p>Duration time :{{recipe.duration}}</p>
    <p>Created by: {{recipe.creator.name}}</p>
    <p>Created on: {{recipe.created}}</p>
  </div>
</div>